{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "import/no-cycle" : 0,
    "no-console": 0,
    "import/prefer-default-export": 0
  }
}
